[active_dingtalk]
active = "test"

[dingtalk-test]
webhook = "https://oapi.dingtalk.com/robot/send?access_token=xxxxxx"
secret = "xxxxxx"

[dingtalk-prod]
webhook = "https://oapi.dingtalk.com/robot/send?access_token=xxxxxxx"
secret = "xxxxxxxxxxx"

[turboai]
host = "https://api.uniapi.me"
key = "xxxxxxxxxx"
key_id = "4565"
currency = "$"
username = "username"
password = "password"
units = 500000

[logging]
level = "info"
path = "turboai.log"
